.App {
  text-align: center;
}

.title{
  margin-top:13.9%;
  margin-left:6.3%;
  margin-right:6.3%;
  width: 87.5%;
  height: 12.7%;
  animation: fade-in 0.5s ease-in-out;
  font-family: 'Stylish', sans-serif;
  font-size:35px;
}
button {
  border: 0;
  outline: none !important;
  box-shadow:2px 2px 0 1px rgba(11, 11, 11, 0.16);
  transition: box-shadow 0.3s ease, transform 0,3s ease;
}
button:active {
  box-shadow: 0 0 0 rgba(11, 11, 11, 0.16),inset 0 4px 4px rgba(11, 11, 11, 0.16);
  transform: translate(4px,4px);
}
/* 홈페이지 css */
.home {
  margin-top:3%;
  width: 328px;
  height: 299px;
  border-radius: 26px;
  box-shadow: 0 3px 6px 0 #d5c5c5;
  background-color: #fce9da;
  animation: fade-in 0.5s ease-in-out;
  font-family: 'Poor Story', cursive;
  font-size: 13px;
}
.produce {
  margin-top:80px;
  font-size: 10px;
}
.start_button {
  margin-top:29px;
  width: 328px;
  height: 84px;
  border-radius: 34px;
  background-color: #ffcec7;
  animation: fade-in 0.5s ease-in-out;
  font-family: 'Stylish', sans-serif;
  font-size:25px;
}

/* qna  css */
.qustion {
  margin-top:3%;
  width: 327px;
  height: 84px;
  border-radius: 34px;
  box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.16);
  background-color: #fce9da;
  font-family: 'Poor Story', cursive;
}


div {
  margin: 0 auto;
}


.button1 {
  /* grid-area: b1; */
  /* width: 158px;
  height: 163px; */
  width: 327px;
  height: 84px;
  border-radius: 26px;
  background-color: #ffcec7;
  visibility: visible;
  /* margin-right:5px; */
  font-family: 'Poor Story', cursive;
  font-size:17px;
}

.button2 {
  margin-top:10px;
  /* grid-area: b2; */
  /* width: 158px;
  height: 163px; */
  width: 327px;
  height: 84px;
  border-radius: 26px;
  background-color: #ffd0a6;
  /* margin-left:5px; */
  font-family: 'Poor Story', cursive;
  font-size:17px;
}
 #grid {
  margin-top:20px;
  display: grid;
  /* grid-template-columns: 1fr 160px 160px 1fr;
  grid-template-areas: ". b1 b2 ."; */
  align-items: center;
  justify-items: center; 
} 
/* 결과페이지 */
.result {
  width: 332px;
  height: 560px;
  padding:7px;
  border-radius: 26px;
  box-shadow: 0 3px 6px 0 #d5c5c5;
  background-color: #fce9da;
  font-family: 'Poor Story', cursive;
  font-size: 20px;
}
.result_text {
  font-family: 'Poor Story', cursive;
  font-size: 15px;
}
.result_img {
  width: 220px;
  height: 220px;
}

.retry_button {
  margin-top :15px;
  margin-bottom : 10px;
  width: 345px;
  height: 76px;
  border-radius: 26px;
  /* box-shadow: 0 3px 6px 0 rgba(11, 11, 11, 0.16); */
  background-color: #ffd0a6;
  font-family: 'Stylish', sans-serif;
  font-size:25px;
}

.load {
  margin-top: 10px;
  font-family: 'Stylish', sans-serif;
}

#copy {
  margin-top: 15px;
  width: 345px;
  height: 76px;
  border-radius: 26px;
  /* box-shadow: 0 3px 6px 0 rgba(11, 11, 11, 0.16); */
  background-color: #FFA98F;
  font-family: 'Stylish', sans-serif;
  box-shadow:2px 2px 0 1px rgba(11, 11, 11, 0.16);
}
.text_area{
  margin-top: 10px;
  width: 300px;
  height:15px;
  background-color: #FFA98F;
  border: none;
  text-align: center;
  font-family: 'Inconsolata', monospace;
  resize: none;
}
.copy_button {
    box-shadow: 0 0 0 0;
    background-color: #FFA98F;
    font-family: 'Stylish', sans-serif;
    font-size:25px;
}







